.details-layout {
  display: grid;
  grid-template-columns: 1fr 330px;
  gap: 20px;
}

.section {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .details-layout {
    grid-template-columns: 1fr;
  }
}